html, body {
    margin: 0;
    height: 100%;
}

#page {
    display: grid;
    grid-template-rows: minmax(150px, 8%) minmax(600px, auto) minmax(150px, 8%);
    min-height: 100%;
    min-width: 100%
}

#header {
    background-color: blueviolet;
    grid-row-start: 1;
    grid-row-end: 2;
}

#content {
    background-color: brown;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#footer {
    background-color: green;
    grid-row-start: 3;
    grid-row-end: 4;
}

#title, #github-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#github-link {
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
    margin-top: 50px;
}

.grid-cell {
    border: 3px solid black;
}
