/* Colour sheme variables */
:root {
    /* https://coolors.co/333333-f1f2f2-595959-c57c78-b4cecb-85b5ae */
    --dark-grey: #333333;
    --white: #F1F2F2;
    --silver: #A5A6A6;
    --light-grey: #595959;
    --light-red: #C57C78;
    --blue-grey: #B4CECB;
    --line-blue: #85B5AE;
}

html, body {
    margin: 0;
    height: 100%;
}

#page {
    display: grid;
    /* grid-template-rows: minmax(150px, 8%) minmax(600px, auto) minmax(150px, 8%); */
    grid-template-rows: 100px minmax(600px, auto) 100px;
    min-height: 100%;
    min-width: 100%
}

#header {
    background-color: var(--light-grey);
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--blue-grey);
}

#content {
    background-color: var(--white);
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#board-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.player-card {
    height: 250px;
    width: 200px;
    border: 3px solid;
    border-radius: 15px;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.player-card > p {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.player1 {
    border-color: var(--line-blue);
    margin-right: -200px;
}

.player2 {
    border-color: var(--light-red);
    margin-left: -200px;
}

#player1-name, #player2-name {
    height: 10%;
    width: 80%;
}

#footer {
    background-color: var(--light-grey);
    grid-row-start: 3;
    grid-row-end: 4;
    color: var(--blue-grey);
}

a:visited {
    color: var(--light-red);
}

a:link {
    color: var(--blue-grey);
}

#title, #github-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#github-link {
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
}

#game-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 25px;
}

#game-controls > button {
    width: 30%;
    height: 15%;
    font-size: 25px;
}

.grid-cell {
    border: 3px solid var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons-outlined.md-80 { 
    font-size: 80px; 
}

/* Victory message pop in animaion from:
    https://codepen.io/alvarotrigo/pen/NWvQObB */
#win-msg {
    margin: 30px;
}

#win-msg > h2 {
    font-size: 50px;
    display: none;
    color: var(--white);
}

@keyframes anim-popin {
    0% {
        color: var(--white);
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
      25% {
        color: var(--line-blue);
        transform: scale(2);
        opacity: 0.5;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
      }
      50% {
        color: var(--dark-grey);
        transform: scale(2);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        /* animate nothing to add pause at the end of animation */
        color: var(--dark-grey);
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
      }
}